{{- $url := .Destination -}}
{{- $isExternal := or (hasPrefix $url "http://") (hasPrefix $url "https://") (hasPrefix $url "//") -}}
{{- if not $isExternal -}}
{{- $url = replaceRE `\.md$` "/" $url -}}
{{- $url = replaceRE `\.md#` "/#" $url -}}
{{- $url = replaceRE `\.md\?` "/?" $url -}}
{{- if hasPrefix $url "/" -}}
{{- $url = strings.TrimPrefix "/" $url | relURL -}}
{{- end -}}
{{- end -}}
<a href="{{ $url | safeURL }}"
  {{- with .Title }} title="{{ . }}"{{ end -}}
  {{- if $isExternal }} target="_blank" rel="noopener"{{ end -}}
>{{ .Text | safeHTML }}</a>
